html {
  position: relative;
  min-height: 100%;
}

body {
  color: black;
  margin: 50px auto;
  padding: 20px;
  max-width: 540px;
  padding-bottom: 20px;
  background-color: #fef0df;
}

@media (max-width: 400px) {
  body {
    margin: 25px auto;
  }
}

.icons {
  margin: 24px 0px;
}

.icons img {
  height: 20px;
  margin-right: 8px;
}

td, th {
  padding: 5px;
}

p {
  margin: 2rem 0;
}

code {
  border: 1px solid black;
  font-size: 14px;
  font-family: monospace;
}

.date {
  color: rgba(0,0,0,0.55);
  font-size: 14px;
  margin-left: 4px;
}

img {
  max-width: 100%;
  border-bottom: none;
}

#logo {
  width: 64px;
  margin-bottom: 20px;
}

hr {
  height: 1px;
  background-color: black;
}

a {
  color: inherit;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  text-decoration: none;
}

a:hover {
  border-color: currentColor;
}

.icons * {
  border: 0px;
}

body > a {
  border: 0px;
}

.table {
  width: 100%;
  display: table;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
}

figcaption {
  color: grey;
  max-width: 100%;
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

blockquote {
  padding: 0.5em 10px;
  font-size: 14px;
  font-style: italic;
  font-family: serif;
}

blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

/* Body Font */

@font-face {
  src: url('fonts/IBMPlexSans-Regular.woff2');
  font-style: normal;
  font-family: 'IBMPlexSans';
  font-display: swap;
}

@font-face {
  src: url('fonts/IBMPlexSans-Bold.woff2');
  font-weight: bold;
  font-family: 'IBMPlexSans';
  font-display: swap;
}

@font-face {
  src: url('fonts/IBMPlexSans-Italic.woff2');
  font-style: italic;
  font-family: 'IBMPlexSans';
  font-display: swap;
}

body {
  font-family: 'IBMPlexSans';
}

/* Heading Font */

@font-face {
  src: url('fonts/Calendas-Regular.woff2');
  font-style: normal;
  font-family: 'Calendas';
  font-display: swap;
}

@font-face {
  src: url(fonts/Calendas-Italic.woff2);
  font-style: italic;
  font-family: 'Calendas';
  font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Calendas';
}
