@font-face {
  font-family: calendas;
  src: url(fonts/Calendas/Calendas.otf);
}

@font-face {
  font-family: calendas-italic;
  src: url(fonts/Calendas/Calendas-Italic.otf);
}

@font-face {
  font-family: calendas-bold;
  src: url(fonts/Calendas/Calendas-Bold.otf);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  color: black;
  margin: 50px auto;
  padding: 20px; 
  max-width: 480px;
  font-family: monospace;
  padding-bottom: 100px;
}

@media (max-width: 400px) {
  body {
    margin: 25px auto;
  }
}

.icons {
  margin: 24px 8px;
}

.icons img {
  height: 20px;
  margin: 6px;
}

td, th {
  padding: 5px;
}

h1, h2 {
  font-family: calendas-italic;
}

h3 {
  font-family: calendas-bold;
}

h4, h5, h6 {
  font-family: calendas;
}

p {
  margin: 2em 0;
}

a {
  color: teal;
}

img {
  max-width: 100%;
}

#logo {
  width: 64px;
  margin-bottom: 20px;
}

hr {
  height: 1px;
  background-color: black;
}
